footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #7b7b7b;
    color: white;
    width: 100%;
    z-index: 2;
}

footer > div{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    /* flex-wrap: true; */
    
   
}

.outlinks{
    color: white;
}

.outlinks:link{
    color: white;
}
.outlinks:visited{
    text-decoration: none;
    color: white;
}
.outlinks:hover{
    text-decoration: none;
    color: #d1faff;
}
.outlinks:active{
    text-decoration: none;
    color: white;
}

header{
    text-align: center;
    background-color: #d1faff;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 2;
}

nav{
    display: flex;
    float: left;
    flex-direction: column;
    background-color: #e4e4e4;
    width: 150px;
    position:sticky;
    top:150px;
    z-index: 1;
    color: black;
    padding-top: 7px;

    
}


nav > a{
    text-decoration: none;
    padding: 20px;
    color: black;
    height: 40px;
}

/* unvisited link */
nav > a:link{
    background-color: #e4e4e4;
}

/* visited link */
nav > a:visited {
    background-color: #e4e4e4;
}
  
  /* mouse over link */
nav > a:hover {
    background-color: #35e7fc;
}
/* selected link */
nav > a:active {
    color: white;
    background-color: #7b7b7b;
}

button{
    background-color: #35e7fc;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    margin: 10px;
    border: 3px solid #7b7b7b;
    


}

button:active{
    transform: translateY(10px);
}

.instructions{
    font-size: 20px;
}



